
/*内容部分*/
	#about-con{
		margin:0px;
		background-color: #f2f2f2;
	}
	#about-con .con-box{
		display: flex;
		flex-wrap: wrap;
	}
	#about-con .con-box .aboutconbox-left{
		position: relative;
		top:-50px;
		width: 80%;
	}
	#about-con .con-box .aboutconbox-right{
		width: 20%;
	}
	#about-panel{width: 80%}
	.panel-group .panel{
		margin-bottom: 20px;
	}
	#about-con .panel-heading{
		display: flex;
		justify-content: space-between;
	}
	#about-con .panel-danger>.panel-heading{
		color: #fff;
    	background-color: #ff9800;
    	border-color: #ff9800;
	}
	#about-con .panel-danger>.panel-heading:hover{
		background-color: #bd760c;
	}
	#about-con .panel-danger>.panel-heading .panel-title a{
		font-size: 18px;
		text-decoration: none;
		font-family: 'BuenosAires-Bold','Passion One',"arial";
	}
	.about-right-title{
		margin-top:20px;
		font-size: 20px;
		font-family: 'BuenosAires-Bold';
	}
	#about-con .about-con-left{
		width: 100%;
		background-color: #fff;
		padding:5%;
		
	}
	#about-con .about-con-left .desc{
		width: 50%;
		margin-bottom: 20px;
		font-size: 19px;
		font-family: 'BuenosAires-Light', sans-serif; 
	}
	#about-panel .panel-body h4{
		color: #ff9800;
		font-family: 'BuenosAires-Bold','Passion One',"arial";
	}
	#about-panel .panel-body{
		font-family: 'BuenosAires-Light', sans-serif; 
		font-size: 16px;
	}
	#about-panel .img-job{
		display: flex;
		justify-content: flex-start;
		align-items:center;
		flex-wrap: wrap;
	}
	.img-job img{
		width:30%;
	}
	#about-panel .img-job {
		margin-left: 20px;
	}
	#about-panel .img-job  p{
		font-weight: bold;
		font-size: 16px;
	}
	/*左边导航部分*/
	#about-nav{
		position: absolute;
		top:100px;
		right: 0;
		overflow:hidden;
	}
	#about-nav li{
		background-color: #ff9800;
		margin-bottom: 20px;
		padding:5px;
		border-top-left-radius: 5px;
		border-bottom-left-radius: 5px;
		transform: translateX(10px);
		padding-right: 15px;
		transition:  all 0.3s linear;
	}
	#about-nav li a{
		display: inline-block;
		color: #fff;
	}
	#about-nav li:hover{
		color: red;
		transform: translateX(0px);
	}
	


	
	/*右边内容*/
	.about-con-right{
		text-align: center;
		margin-top: 70px;
	}
	.about-con-right .about-right-icon span{
		color: #ff9800;
		font-size: 5em;
	}
	.about-right-menu{
		display: inline-block;
		padding:0 36px;
		font-family: 'BuenosAires-Light', sans-serif; 

	}
	.about-right-menu li{
		margin-top: 20px;
	}
	.about-right-menu a{
		color: #000;
		display: inline-block;
		text-decoration: none;
	}
	.about-right-menu a:hover,.about-right-menu a:focus{
		text-decoration: none
	}
	.about-right-menu a .menu-title{
		font-weight: bold;
	}
	.about-right-menu a .num{
		font-size: 20px;
	}


/*内容部分结束*/

@media (max-width: 768px) {
	#about-con .con-box .aboutconbox-left,#about-con .con-box .aboutconbox-right{
		width: 100%;
	}
	#about-con .con-box .aboutconbox-left{
		top:0;
	}
	#about-con .about-con-left .desc{
		width: 80%;
		font-size: 16px;
	}
	.about-con-right{margin-top: 20px;margin-bottom: 20px;}
	#about-panel .img-job{margin-left: 0}
	

}
@media (min-width: 769px) {
	#about-panel .img-job .job{margin-left: 20px;width: 65%}
}