/*services开始*/
	#services-con .title{color: #ff9800;margin-top: 10px;padding:15px;font-family: 'BuenosAires-Bold';}
	#services-con .services-desc{
		padding:15px;
		background-color: #fff;
		font-size: 1.2em;
		line-height: 1.5em;
		/*font-weight: bold; */
	}
	#services-con .container{border:1px solid #ddd;margin-top: 30px;padding-right: 0px;padding-left: 0px;}
	#services-con .tab{margin-top: 20px;border-top: 1px solid #ddd;}
	#myTabContent .tab-pane{position: relative;}
	#myTabContent .tab-pane p{
		position: absolute;
		/*background-color: #fff;*/
		padding:20px;
		display: inline-block;
		width: 30%;
		font-size: 16px;
		background: #fff; /* Fallback */ 
		background:linear-gradient(-160deg, transparent 2em, #fff 0);
		/*background: linear-gradient(225deg, transparent 50%, #9E9E9E 50%,#656161) no-repeat 100% 0 / 2em 2em, 
		linear-gradient(225deg, transparent 1.5em, #ffffff 0);*/
	}
	#myTabContent .tab-pane:nth-child(1) p{
		top:20px;
		right: 20px;
	}
	#myTabContent .tab-pane:nth-child(2) p{
		bottom:20px;
		left: 20px;
	}
	#myTabContent .tab-pane:nth-child(3) p{
		top:20px;
		left: 20px;
	}
	#services-con .nav-tabs>li{
		width: 33%;
    	text-align: center;
    	font-size: 1.8em;
	} 
	#services-con .nav-tabs>li:nth-child(3){width: 34%;}
	#services-con .nav-tabs>li a{
		width: 100%;
		color: #000;
		font-family: 'BuenosAires-Bold';
	}
	.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
		border-top: none;
    	background-color: #ff9800;
    	color: #fff;
    	border-radius: 0px;
	}
/*services结束*/
/*contact开始*/
	#contact .contact-info{
		background-color: #f4f4f4;
		padding: 30px;
	}
	#contact .contact-info .info-title{
		font-size: 18px;
		font-weight: bold;
		text-align: center;
		margin-bottom: 20px;
	}
	#contact .contact-info .info-box{
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
	}

	#contact .title h1 {
	    font-size: 3.0517578125em;
	    font-weight: 900;
	    line-height: 1.25em;
	    text-align: center;
	    margin-top: .8em;
	    margin-bottom: .125em;
	}
	@media only screen and (min-width: 1024px){
		.info-title h2 {
		    letter-spacing: -.55px;
		}
		#contact .title h1 {
		    letter-spacing: -1.45px;
		}
	}
	@media only screen and (min-width: 576px){
		.info-title h2 {
		    letter-spacing: -.45px;
		}
		.info-title h2 {
		    letter-spacing: -.15px;
		}
	}
	.info-title h2 {
	    font-size: 2em;
	    /*font-weight: 700;*/
	    font-family: 'BuenosAires-Bold';
	}
	
	#contact .contact-info .info-box>div{
		width: 320px;
		padding:20px 0;
		text-align: center;
		background-color: #fff;
		border-top:4px solid #ff9800;
		margin-bottom: 20px;
	}
	#contact .contact-info .info-box>div.info-tel{
		margin-right:20px;
	}
	#contact .contact-info .info-box>div.info-address{
		margin-left:20px;
	}
	#contact .contact-info .info-box>div.info-address li>div{
		width: 50%;
		display: inline-block;
	}
	#contact .contact-info .info-box>div .fa{
		font-size: 35px;
	}
	#contact .contact-info .info-box>div h3{
		font-size: 18px;
		/*font-weight: 700;*/
		font-family: 'BuenosAires-Bold';
	}
	#contact ul.vertical-links li strong{
		font-size: 18px;
	}
	#contact ul.vertical-links li{
		font-size: 16px;
		text-align: center;
	}
	#contact ul.vertical-links li{
		font-family: 'BuenosAires-Light', sans-serif
	}
	#contact ul.vertical-links li:before {
	    content: "";
	    display: block;
	    margin: 1.2em auto;
	    width: 30%;
	    border-top: 1px solid #ccc;
	}
	#contact  .contact-otherInfo{
		background-color: #fff;
	}
	#contact .contact-otherInfo .info-box>div{
		box-shadow: 0 0 5px #ccc
	}
/*contact结束*/

	@media (max-width: 768px) {
		#contact .contact-info .info-box>div.info-tel{width: 100%;margin-right: 0px}
		#contact .contact-info .info-box>div.info-address{width: 100%;margin-left: 0px}
		#contact .contact-info .info-title h2{
			margin-top: 0px;
		}
		#myTabContent .tab-pane p{width: 70%}
		.video_bnrsub{font-size:20px;}
	}
	@media (min-width: 1200px) {
		#contact .contact-info .info-box>div{width: 30%}
	}
	@media (max-width: 375px) {
		#myTabContent .tab-pane p{position: static;width: 100%}
		#services-con .nav-tabs>li{font-size: 1.5em}
	}
