@font-face {
	font-family: 'bigblack';
	src: url('../fonts/bigblack.eot'),/*兼容eot*/
	url('../fonts/bigblack.woff') format('woff'),/*火狐支持woff,woff2,opentype字体*/
	url('../fonts/bigblack.ttf') format('truetype'),/*基于webkit内核支持truetype字体*/
	url('../fonts/bigblack.svg') format('svg');
}
@font-face {
	font-family: 'normalfont';
	src: url('../fonts/normalfont.eot'),
	url('../fonts/normalfont.woff') format('woff'),
	url('../fonts/normalfont.ttf') format('truetype'),
	url('../fonts/normalfont.svg') format('svg');
	
}
@font-face {
	font-family: 'middleblack';
	src: url('../fonts/middleblack.eot'),
	url('../fonts/middleblack.woff') format('woff'),
	url('../fonts/middleblack.ttf') format('truetype'),
	url('../fonts/middleblack.svg') format('svg');
	
}

body{
	font-family:'normalfont',Tahoma, Geneva, sans-serif;
	color: #fff;
}
p,h1,h2,h3,h4,h5,h6{
	padding:0;
	margin:0;
}




/*底部样式*/
#foot{
	width: 100%;
	position: fixed;
	bottom:0px;
	left:0;
	height: 45px;
	background-color: #b2daea;
	color: #666;
	line-height: 45px;
	text-align: center;
	border-top:1px solid #b2daea;
}
#foot ul{
	padding-left: 0px;
}
#foot ul li{
	list-style: none;
}
#foot>ul>li{
	box-sizing: border-box;
	float: left;
	width: 50%;
	font-size: 16px
}
#foot>ul>li i{
	color: #013a71;
	font-size: 16px;
}
#foot>ul>li a{
	color: #a91f23;
	text-decoration: none;
}
#foot .menu .menu-list{
	position: absolute;
	bottom:45px;
	right: 0;
	width: 50%;
	text-align: center;
	height: 139px;
	background-color: #b2daea;
	display: none;
}
#foot .menu .menu-left{
	position: absolute;
	bottom:45px;
	left: 0;
	width: 50%;
	text-align: center;
	height: 69px;
	background-color: #b2daea;
	display: none;
}

#foot .menu .menu-list li{
	height: 35px;
	line-height: 35px;
	border-bottom: 1px solid #54abcc;
	cursor: pointer;
}
#foot .menu .menu-list a{
	text-decoration: none;
}
#foot .menu .menu-list li:hover  a{
	color: #013a71;
}