#newbox{
	width: 100%;
	display: flex;
}
#new {
	padding-bottom: 80px;
}
#new .title{
	color: #ff9800;
	margin-bottom: 50px;
}
#new .con{
	margin-bottom: 20px;
	font-size: 18px;
}
#new .blod{
	font-family: 'BuenosAires-Bold';
}
#new .con a{
	text-decoration: underline;
}
#new .con .imgbox{
	text-align: center;
}
#new .con .imgbox img{
	width: 60%;
}
/*#new .con-img{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
}*/
#newbox .event-con-left{
	width: 226px;
}
#newbox .event-con-left ul{
	margin-bottom: 0px;
}
#newbox .event-con-left h5{
	margin-top: 0px;
	
}
#newbox .event-con-left h5 a{
	display: inline-block;
	width: 100%;
	color: #d85719;
}
#newbox .event-con-left h5:hover a{
	text-decoration: underline;
}

@media (max-width: 767px) {
	.event-con-right{width: 100%;border-left: none;}
	#new .title h3{font-size: 22px;}
	#new .con .imgbox img{width: 90%}
	.Mtop50{margin-top: 20px;}
}